{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
<head>
  <title>Insta-Clone</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet"  type='text/css' href="static/design.css">
</head>
<body>
<div class="full">
	<div class="main">
            <h2> Insta-Clone</h2>
    </div>

    <div class ="frm">
        <form method="post">
          {%csrf_token %}

          {% if form == "fillempty" %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                      Fill all the fields.
            </div>
            {% endif %}

            <div>
                <input id="username" type="text" name="username" placeholder = "Username" value={{ username }}>
            </div>

            <div>
                <input id="name" type="text" name="name" placeholder="Full Name" value={{ name }}>
            </div>

            <div>
                <input id="email" type="text" name="email" placeholder="Email" value={{ email }}>
            </div>

            <div >
                <input id="password" type="password" name="password" placeholder="Password" value={{ password }}>
            </div>
                <input type="submit" class="btn btn-info" value="Sign Up">
        </form>
        <div class="txtcolor">By signing up, you agree to our
            <br>  <a href=" " class="txtcolor">Terms</a> & <a href=" " class="txtcolor"> Privacy Policy</a>.</div>

    </div><br><br>
</div>
    <div class="full1">Have an account? <a href="login/">Login</a> </div>


</body>
</html>